<nav class="navbar navbar-expand bg-transparent navbar-light sticky-top">
    <div class="nav navbar-nav ml-auto">
        <div class="nav-item dropdown btn btn-warning px-3 py-0">
            <a class="nav-link dropdown-toggle text-body" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign In</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <form class="px-4 py-3">
                    <div class="form-group">
                        <label for="exampleDropdownFormUsername1">Username</label>
                        <input type="Username" class="form-control" id="userSignIn" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="exampleDropdownFormPassword1">Password</label>
                        <input type="password" class="form-control" id="passwordSignIn" placeholder="Password">
                    </div>
                    <a type="submit" id="signIn" class="btn btn-warning">Sign In</a>
                </form>
            </div>
        </div>
    </div>
</nav>

<div class="container w-75">
    <div class="jumbotron bg-white border border-dark py-4">
        {{!-- Logo Input --}}
        <div class="card card1">
            <div class="card-body p-0">
                <img src="../assets/img/lads_logo2.png" class="img-fluid" alt="">
            </div>
        </div>
        {{!-- ^^^^^ --}}
        <p class="text-center lead mx-4 px-4"> Simply answer the 20 questions below. Be sure to select the option that
            best describes yourself in order to receive accurate information on your personality type.</p>
        <!-- Card holding question  -->
        <div class="card mt-2 mb-4">
            <div class="card-body lead pb-0">
                {{#each values}}
                <!-- Row -->
                <div class="row row1 m-1">
                    <!-- Column 1 for question  -->
                    <div class="col-lg-9 col-md-12">
                        <div class="card card1">
                            <div class="card-body p-0">{{question}}</div>
                        </div>
                    </div>
                    <!-- Column 2 for Radio Btn (true) -->
                    <div class="col-lg-1 col-md-6 col-sm-12 mx-2">
                        <div id="{{id}}" class="form-check">
                            <input class="form-check-input" type="radio" name="{{id}}" id="true" value="1">
                            <label class="form-check-label" for="exampleRadios1">True</label>
                        </div>
                    </div>
                    <!-- Column 3 for Radio Btn (false) -->
                    <div class="col-lg-1 col-md-6 col-sm-12 mx-2">
                        <div id="{{id}}" class="form-check">
                            <input class="form-check-input" type="radio" name="{{id}}" id="false" value="0">
                            <label class="form-check-label" for="exampleRadios2">False</label>
                        </div>
                    </div>
                </div>
                <hr>
                {{else}}
                <p>No questions available</p>
                {{/each}}
                <!-- End of Row  -->
            </div>
        </div>
        <!-- End of Card -->

        <!-- Email and password  -->
        <p class="text-center py-4 mb-0 lead">Now let's save your results so you can view them at anytime! Please fill
            out the fields below.</p>
        <form class="form-group row row1 lead">
            <div class="col-lg-4 col-md-12 ">
                <div class="row">
                    <label for="staticEmail">First Name:</label>
                </div>
                <div class="row">
                    <div class="form-group col-12 pl-0 pr-2 mb-2">
                        <label for="inputName2" class="sr-only">firstName</label>
                        <input type="name" class="form-control" id="inputName2" placeholder="">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="row">
                    <label for="staticEmail"> Create Username:</label>
                </div>
                <div class="row">
                    <div class="form-group col-12 pl-0 pr-2 mb-2">
                        <label for="inputEmail2" class="sr-only">Username</label>
                        <input type="email" class="form-control" id="inputEmail2" placeholder="">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="row">
                    <label for="staticEmail"> Create Password:</label>
                </div>
                <div class="row">
                    <div class="form-group col-12 pl-0 pr-2 mb-2">
                        <label for="inputPassword2" class="sr-only">Password</label>
                        <input type="password" class="form-control" id="inputPassword2" placeholder="">
                    </div>
                </div>
            </div>
        </form>
        <!-- End  -->

        <!-- Results Button  -->
        <div class="d-flex justify-content-center">
            <button class="btn btn-warning btn-lg btn-block mt-4 w-50" id="submitFinal"> Save and View Results!</button>
        </div>
        <!-- End of Btn  -->
    </div>
</div>
<!-- End of Container -->

<footer class="py-2 bg-transparent text-black sticky-bottom">
    <div class="text-center">
        <p>&copy; 2020 What's my Life!?</p>
    </div>
</footer>