<div class="container w-75">
    <div class="jumbotron bg-white border">
        <h1 class="display-4 mb-4 text-center">What is My Life?!</h1>
        <p class="text-center lead mx-4 px-4"> Simply answer the 20 questions below. Be sure to select the option that
            best describes yourself in order to receive accurate information on your true personality type.</p>
        <!-- Card holding question  -->
        <div class="card my-1">
            <div class="card-body">
        {{#each values}}
                <!-- Row -->
                <div class="row row1">
                    <!-- Column 1 for question  -->
                    <div class="col-lg-8">
                        <div class="card card1">
                            <div class="card-body p-0">{{question}}</div>
                        </div>
                    </div>
                    <!-- Column 2 for Radio Btn (true) -->
                    <div class="col">
                        <div id="{{id}}" class="form-check">
                            <input class="form-check-input" type="radio" name="{{id}}" id="true"
                                value="1">
                            <label class="form-check-label" for="exampleRadios1">True</label>
                        </div>
                    </div>
                    <!-- Column 3 for Radio Btn (false) -->
                    <div class="col">
                        <div id="{{id}}" class="form-check">
                            <input class="form-check-input" type="radio" name="{{id}}" id="false"
                                value="0">
                            <label class="form-check-label" for="exampleRadios2">False</label>
                        </div>
                    </div>
                </div>
                {{else}}
                <p>No questions available</p>
                {{/each}}
                <!-- End of Row  -->
            </div>
        </div>
        <!-- End of Card -->

        <!-- Results Button  -->
        <div class="d-flex justify-content-center">
            <button class="btn btn-warning btn-lg btn-block mt-4 w-25" id="submitFinal">View Results!</button>
        </div>
        <!-- End of Btn  -->
    </div>
</div>
<!-- End of Container -->