<nav class="navbar navbar-expand bg-transparent navbar-light">
  {{!-- <h2 class="font-weight-bold">{{ data.dataValues.firstName}}'s Results</h2> --}}
  <div class="nav navbar-nav ml-auto">
    <div class="nav-item dropdown btn btn-warning px-2 py-0 border border-dark">
      <a class="nav-link text-body" id="signOut">Home</a>
    </div>
  </div>
</nav>

<!-- Container  -->
<div class="container">
  <!-- Section 1 -->
  <div class="jumbotron p-3 bg-white border border-dark text-center">
    <!-- Personality Type -->
    <h1 class="display-5">{{ data.dataValues.firstName}}, you are  "{{ personality.title }}"</h1>
    <p class="lead">{{personality.type}} - {{ personality.subTitle }}</p>
    <hr class="my-2">
    <!-- Description -->
    <p>{{ personality.description }}</p>
  </div>

  <!-- Section 2 -->
  <!-- Row 1 -->
  <div class="row row1">
    <!-- Column 1 -->
    <div class="col-lg-6">
      <!-- Image -->
      <img src="/assets/img/{{ personality.image }}" class="card-img-top pb-4 pr-4" alt="">
    </div>
    <!-- Column 2 -->
    <!-- Card -->
    <div class="col-lg-6 card px-0 border border-dark text-center">
      <!-- Overview -->
      <h5 class="card-header" id="firstNameOverview">{{ data.dataValues.firstName}}'s Overview</h5>
      <div class="card-body pt-4">
        <p class="card-text mb-0">{{ personality.overview }}</p>
        <!-- Nested Row  -->
        <div class="row">
          <!-- Column 1 -->
          <div class="col-sm-6">
            <!-- Nested Card 1 -->
            <div class="card card1">
              <div class="card-body p-1">
                <h5 class="card-title pb-0 pt-4">Strengths</h5>
                <p class="card-text multiline">{{ personality.strengths }}</p>
              </div>
            </div>
          </div>
          <!-- Column 2 -->
          <div class="col-sm-6">
            <!-- Nested Card 2 -->
            <div class="card card1">
              <div class="card-body p-1">
                <h5 class="card-title pb-0 pt-4">Weaknesses</h5>
                <p class="card-text multiline">{{ personality.weaknesses }}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Nested Row  -->
      </div>
    </div>
    <!-- End of card -->
  </div>
  <!-- End of Section 2 -->


  <!-- Section 3 -->
  <div class="card my-4 border border-dark text-center">
    <h5 class="card-header" id="funFactsName">Fun Facts about {{data.dataValues.firstName}}!</h5>
    <div class="card-body">
      <h5 class="card-title">See How You Match Up According to Your Personality Type!</h5>
      <!-- Collapse  -->
      <!-- Mental Age  -->
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingFour">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed text-dark" type="button" data-toggle="collapse"
                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                What Is Your Mental Age?
              </button>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
              <h4 class="card-title">{{ personality.mentalAgeTitle }}</h4>
              <p class="card-text">{{ personality.mentalAgeDescription }}</p>
            </div>
          </div>
        </div>
        <!-- Animal  -->
        <div class="card">
          <div class="card-header" id="headingFive">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed text-dark" type="button" data-toggle="collapse"
                data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                What Kind of Animal Are You?
              </button>
            </h2>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body">
              <h4 class="card-title">{{ personality.animalTitle }}</h4>
              <p class="card-text">{{ personality.animalDescription }}</p>
            </div>
          </div>
        </div>
        <!-- Office Character  -->
        <div class="card">
          <div class="card-header" id="headingSix">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed text-dark" type="button" data-toggle="collapse"
                data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Which Office Character Do You Match With?
              </button>
            </h2>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
            <div class="card-body">
              <h4 class="card-title">{{ personality.officeTitle }}</h4>
              <p class="card-text">{{ personality.officeDescription }}</p>
            </div>
          </div>
        </div>
        <!-- Pizza  -->
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed text-dark" type="button" data-toggle="collapse"
                data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                What Kind of Pizza Would You Be?
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <h4 class="card-title">{{ personality.pizzaTitle }}</h4>
              <p class="card-text">{{ personality.pizzaDescription }}</p>
            </div>
          </div>
        </div>
        <!-- Coffee  -->
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed text-dark" type="button" data-toggle="collapse"
                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What Kind of Coffee Are You?
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <h4 class="card-title">{{ personality.coffeeTitle }}</h4>
              <p class="card-text">{{ personality.coffeeDescription }}</p>
            </div>
          </div>
        </div>
        <!-- Travel  -->
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed text-dark" type="button" data-toggle="collapse"
                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Which Travel Destination Suits You?
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <h4 class="card-title">{{ personality.travelTitle }}</h4>
              <p class="card-text">{{ personality.travelDescription }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Collapse  -->
    </div>
  </div>
</div>
<!-- End of Container  -->

<footer class="py-2 bg-transparent text-black sticky-bottom">
    <div class="text-center">
        <p>&copy; 2020 What's my Life!?</p>
    </div>
</footer>